@model DogsApp.MVC.Models.Dog;
<!DOCTYPE html>
<html>
<head>
    <title>New Company</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <h2>Edit dog</h2>
    <form action="/edit/@Model.Id" method="post">
        <label>Dogs name</label>
        <input type="text" name="Name" value=@Model.Name />
        <label>Age</label>
        <input type="number" name="Age" value="@Model.Age" />
        <input type="submit" value="Edit" />
    </form>
</body>
</html>
