@model DogsApp.MVC.Models.Dog[];

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dogs</title>
	<link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
	<style>

		body {

		}
		button {
			width: 80px;
			padding: 5px;
			font-size: 12px;
		}
		form {
			display: inline-block;
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<h1>Dogs</h1>

	<ul>
		@foreach (var dog in Model)
		{
			<li>
				<h2>@dog.Name age:@dog.Age</h2>
				<form action="/edit/@dog.Id" method="get" style="display:inline;">
                    <button>Edit</button>
                </form>
				<form action="/delete/@dog.Id" method="post">
					<button> Delete</button>
					</form>
			</li>
		}
	</ul>
	<a href="/Create">Create a new dog</a>

</body>
</html>